extends layout

block content
  each post in posts
    .panel.panel-info
      .panel-heading
        h3.panel-title !{post.title}
      .list-group
        .list-group-item
          b by #{post.user}
      .panel-body !{post.data}
