doctype html
html
  head
    title WebExploits!
    link(rel='stylesheet', href='/nico/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/jquery/dist/jquery.slim.min.js')
    script(type='text/javascript', src='/nico/dist/js/bootstrap.min.js')
  body
    include include/header.jade
    #content
      block content
