extends layout

block content
  .container
    h1 いま何してる？
    form(method='post', enctype='application/json')#new-post.form-horizontal
      each val, key in {'title': 'Title', 'user': 'User Name', 'data': 'Content'}
        .form-group
          label.control-label #{val}
          if (key == 'data')
            textarea(rows='8', name=key)#textArea.form-control
          else
            input(type='text', name=key).form-control
      .form-group
        button(type='submit').btn.btn-primary 投稿！
