extends layout

block content
  .container
    .raw
      .col-md-offset-2
        h1 Sign Up
    form(method='post', enctype='application/json')#sign-up.form-horizontal
      each item in ['Username', 'Password']
        .form-group
          label.control-label.col-md-2 #{item}
          .col-md-6
            if (item == 'Password')
              input(type='password', name=item).form-control
            else
              input(type='text', name=item).form-control
      .form-group
        .col-md-offset-2.col-md-3
          button(type='submit').btn.btn-default Sign Up
