extends layout

block content
  .container
    .raw
      .col-md-offset-2
        h1 Sign Up
    form(method='post', enctype='application/json')#sign-up.form-horizontal
      each key, val in { 'username':'Username', 'password':'Password'}
        .form-group
          label.control-label.col-md-2 #{val}
          .col-md-6
            if (key == 'password')
              input(type='password', name=key).form-control
            else
              input(type='text', name=key).form-control
      .form-group
        .col-md-offset-2.col-md-3
          button(type='submit').btn.btn-default Sign Up
