header
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button(type='button', data-toggle='collapse', data-target='#navbar-main').navbar-toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').navbar-brand WebExploits!
      #navbar-main.navbar-collapse.collapse
        ul.nav.navbar-nav
          -var obj = { '':'Top', 'post':'New Post' }
          each val, key in obj
            if (id == key)
              li.active: a(href='/#{key}') #{val}
            else
              li: a(href='/#{key}') #{val}
        p.navbar-text.navbar-right Welcome to ようこそ 高専祭パーク！
